<!-- ============================================================== -->
<!-- Fixed height Card Grid-->
<!-- ============================================================== -->

<form name="searchForm" #searchForm="ngForm">
    <div class="row">
    </div>
</form>

<div fxLayout="row">
    <div fxFlex.gt-sm="100%" >
        <mat-card>
            <tbody>
                <tr>
                    <ng-container *ngFor="let header of inputFormsBasic.data" >
                        <td *ngIf="header.widget === 'Text'">
                            Text
                        </td>
                        <td *ngIf="header.widget === 'Combo'">
                            Combo
                        </td>
                    </ng-container>
                </tr>
            </tbody>
        </mat-card>
            <!-- <mat-card>
                    <mat-card-content>
                        <mat-card-title>Basic list</mat-card-title>
                        <mat-card-subtitle><code>&lt;mat-list&gt;</code> is a container component that wraps and formats a series of line items. As the base list component, it provides Material Design styling, but no behavior of its own.<code><a href="https://material.angular.io/components/list/overview">Official Doc here</a></code></mat-card-subtitle>
                        <mat-list role="list">
                            <mat-list-item role="listitem">Item 1</mat-list-item>
                            <mat-list-item role="listitem">Item 2</mat-list-item>
                            <mat-list-item role="listitem">Item 3</mat-list-item>
                        </mat-list>
                    </mat-card-content>        
            </mat-card> -->
    </div>
</div>


<div fxLayout="row">

</div>
